<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>contact</h1>
    <p>
    <h1>hello word 1</h1>
    </p>
  </body>
</html>

<p>Find me in app/views/static_pages/help.html.erb</p>