<!-- Task #8128,  commit 
	Author : DaoLM
	Date : Firday, 18 October 2013 -->
<% provide(:title, 'All users') %>
<h1>All users</h1>
<ul class="users">
  <% @users.each do |user| %>
    <%= render "users/user", user: user %>
  <% end %>
</ul>
<%= will_paginate %>
