<footer class="footer">
<small>
  <a href="http://railstutorial.org/">Rails Tutorial</a>
  viet boi Michael Hartl
</small>
<nav>
<ul>
  <li><%= link_to "Thong tin",   '#' %></li>
  <li><%= link_to "Lien he", '#' %></li>
  <li><a href="http://news.railstutorial.org/">Tin tuc</a></li>
</ul>
</nav>
</footer>
