<footer class="footer">
<small>
  <a href="http://railstutorial.org/">Rails Tutorial</a>
  by Michael Hartl
</small>
<nav>
<ul>
  <li><%= link_to "A",   '#' %></li>
  <li><%= link_to "B", '#' %></li>
  <li><%= link_to "C", about_path %></li>
  <li><a href="http://news.railstutorial.org/">D</a></li>
</ul>
</nav>
</footer>